* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


body,
html {
    height: 100%;
    overflow: hidden;
}

/* header */
.header {
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


/* menu */
#body-back {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar a {
    margin-top: 10vh;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}


/* content */
.video-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* left */
.left {
    background-color: #000000;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content fieldset {
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    color: white;
}


/* right */
.right {
    background-color: #000000;
}


/* footer */

.footer {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}